.registration {
    width: 800px;
    min-height: 300px;
    background: #eeeeee;
    border-radius: 9px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    &-wrapper {
        padding: 82px;
    }
    &-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #121214;
    }
    &-inputs {
        margin-top: 30px;
    }
    &-input {
        margin-top: 12px;
    }
    input {
        margin-top: 5px;
        width: 350px;
        height: 40px;
        background: #FFFFFF;
        border: 0.5px solid #787878;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 0 15px;
    }
    label {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #121214;
    }
    button{
        display: block;
        margin: 0 auto;
        margin-top: 32px;
        width: 130px;
        height: 45px;
        background: #037E8C;
        border-radius: 9px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &-tologin {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        text-decoration: none;
        color: rgb(139, 139, 139);
        text-align: center;
    }
}